section
	.banks-list
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a(href="/")
								span Home
						span Banks
					h1 Choose and Compare banks
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla lectus, pretium sed odio nec, pellentesque porttitor purus. Sed in est et sapien rhoncus auctor. Praesent pharetra lacus nulla, placerat condimentum libero consectetur sed. Aenean vel ornare ligula, vitae porta lorem. Maecenas ex velit.
					.items
						a.item(href="#")
							img(src="img/HSBC.png")
							h3 HSBC
						a.item(href="#")
							img(src="img/TD-Bank.jpg")
							h3 TD Bank
						a.item(href="#")
							img(src="img/BMO.png")
							h3 BMO Bank of Montreal
						a.item(href="#")
							img(src="img/Scotiabank.png")
							h3 Scotiabank
						a.item(href="#")
							img(src="img/RBC.png")
							h3 RBC Royal Bank
						a.item(href="#")
							img(src="img/TangerineBank.png")
							h3 Tangerine
						a.item(href="#")
							img(src="img/CIBC.jpg")
							h3 CIBC
						a.item(href="#")
							img(src="img/Motusbank.png")
							h3 Motusbank
						a.item(href="#")
							img(src="img/Equitable.png")
							h3 Equitable Bank
	.news
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Mortgage News
					.items
						a.item(href="#")
							.img
								img(src="img/news-1.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
						a.item(href="#")
							.img
								img(src="img/news-2.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
						a.item(href="#")
							.img
								img(src="img/news-3.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
						a.item(href="#")
							.img
								img(src="img/news-4.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
					a.button.red(href="#") Read More
	.subscribe
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					form
						h2 Subscribe Now
						.input
							input(type="text" placeholder="Name")
						.input
							input(type="text" placeholder="E-mail")
						.input
							input.button.red(type="submit" value="Apply Now")
