section
	.banner(style="background-image:url(img/banner-3.jpg)")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a(href="/")
								span Home
						span Brokers *Region*
					h1 Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla lectus, pretium sed odio nec, pellentesque porttitor purus. Sed in est et sapien rhoncus auctor. Praesent pharetra lacus nulla, placerat condimentum libero consectetur sed. Aenean vel ornare ligula.
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12.df
				.content
					.brokers
						form.search
							input(type="search" placeholder="Search by location")
							button.icon-search
						ul.sort
							li Sort by alphabet:
								a(href="#") A-Z
							li Sort by rating:
								a(href="#") From lowest to highest
						ul.grid
							li.active(data-grid="three")
								a.icon-grid(href="#")
							li(data-grid="two")
								a.icon-grid-two(href="#")

						h4 124 Brokers Found
						.items
							.broker
								a(href="#")
									img(src="img/broker-1.jpg", alt="#")
								.description
									a.broker_link(href="#") Muhammad Sajjad (Sajjad) Minhas
									ul.rating(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									ul
										li
											a.button.grey(href="#") Toronto
										li
											a.button.grey(href="#") Ontario
									a.icon-bank(href="#")
										span Dominion Lending Centers
							.broker
								a(href="#")
									img(src="img/broker-2.jpg", alt="#")
								.description
									a.broker_link(href="#") Muhammad Sajjad (Sajjad) Minhas
									ul.rating(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									ul
										li
											a.button.grey(href="#") Toronto
										li
											a.button.grey(href="#") Ontario
									a.icon-bank(href="#")
										span Dominion Lending Centers
							.broker
								a(href="#")
									img(src="img/broker-3.jpg", alt="#")
								.description
									a.broker_link(href="#") Muhammad Sajjad (Sajjad) Minhas
									ul.rating(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									ul
										li
											a.button.grey(href="#") Toronto
										li
											a.button.grey(href="#") Ontario
									a.icon-bank(href="#")
										span Dominion Lending Centers
							.broker
								a(href="#")
									img(src="img/broker-4.jpg", alt="#")
								.description
									a.broker_link(href="#") Muhammad Sajjad (Sajjad) Minhas
									ul.rating(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									ul
										li
											a.button.grey(href="#") Toronto
										li
											a.button.grey(href="#") Ontario
									a.icon-bank(href="#")
										span Dominion Lending Centers
							.broker
								a(href="#")
									img(src="img/broker-5.jpg", alt="#")
								.description
									a.broker_link(href="#") Muhammad Sajjad (Sajjad) Minhas
									ul.rating(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									ul
										li
											a.button.grey(href="#") Toronto
										li
											a.button.grey(href="#") Ontario
									a.icon-bank(href="#")
										span Dominion Lending Centers
							.broker
								a(href="#")
									img(src="img/broker-6.jpg", alt="#")
								.description
									a.broker_link(href="#") Muhammad Sajjad (Sajjad) Minhas
									ul.rating(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									ul
										li
											a.button.grey(href="#") Toronto
										li
											a.button.grey(href="#") Ontario
									a.icon-bank(href="#")
										span Dominion Lending Centers
				.sidebar.left
					form
						.city
							p
								strong City
							.checkbox
								input#checkbox-1(type="checkbox")
								label.icon-check(for="checkbox-1") lorem
							.checkbox
								input#checkbox-2(type="checkbox")
								label.icon-check(for="checkbox-2") lorem
							.checkbox
								input#checkbox-3(type="checkbox")
								label.icon-check(for="checkbox-3") lorem
							.hide
								.checkbox
									input#checkbox-4(type="checkbox")
									label.icon-check(for="checkbox-4") lorem
								.checkbox
									input#checkbox-5(type="checkbox")
									label.icon-check(for="checkbox-5") lorem
								.checkbox
									input#checkbox-6(type="checkbox")
									label.icon-check(for="checkbox-6") lorem
							a.more(href="#") More...
						.languages
							p
								strong Languages
							.checkbox
								input#checkbox-7(type="checkbox")
								label.icon-check(for="checkbox-7") lorem
							.checkbox
								input#checkbox-8(type="checkbox")
								label.icon-check(for="checkbox-8") lorem
							.checkbox
								input#checkbox-9(type="checkbox")
								label.icon-check(for="checkbox-9") lorem
							.hide
								.checkbox
									input#checkbox-10(type="checkbox")
									label.icon-check(for="checkbox-10") lorem
								.checkbox
									input#checkbox-11(type="checkbox")
									label.icon-check(for="checkbox-11") lorem
								.checkbox
									input#checkbox-12(type="checkbox")
									label.icon-check(for="checkbox-12") lorem
							a.more(href="#") More...
						.company
							p
								strong Company
							.checkbox
								input#checkbox-13(type="checkbox")
								label.icon-check(for="checkbox-13") lorem
							.checkbox
								input#checkbox-14(type="checkbox")
								label.icon-check(for="checkbox-14") lorem
							.checkbox
								input#checkbox-15(type="checkbox")
								label.icon-check(for="checkbox-15") lorem
							.hide
								.checkbox
									input#checkbox-16(type="checkbox")
									label.icon-check(for="checkbox-16") lorem
								.checkbox
									input#checkbox-17(type="checkbox")
									label.icon-check(for="checkbox-17") lorem
								.checkbox
									input#checkbox18(type="checkbox")
									label.icon-check(for="checkbox18") lorem
							a.more(href="#") More...
