section
	.city
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.df
					h2 Calculator name
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					h2 Calculator by city/province
					.item
						img(src="img/city-1.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Ontario
					.item
						img(src="img/city-2.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Quebec
					.item
						img(src="img/city-3.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Nova Scotia
					.item
						img(src="img/city-4.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					.item
						img(src="img/city-5.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") New Brunswick
					.item
						img(src="img/city-6.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					.item
						img(src="img/city-7.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					.item
						img(src="img/city-8.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					.item
						img(src="img/city-9.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					.item
						img(src="img/city-10.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					.item
						img(src="img/city-11.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					.item
						img(src="img/city-12.jpg", alt="#")
						a.link(href="#")
						a.button.red(href="#") Manitoba
					a.button.red(href="#") Show more
