section
	.contacts
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					form
						.input
							input(type="text" placeholder="Name*")
						.input
							input(type="tel" placeholder="Phone*")
						.input
							input(type="email" placeholder="E-mail*")
						.textarea
							textarea(placeholder="Message")
						.input
							input.button.red(type="submit" value="Apply Now")
