header
	.head-top
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					ul.menu
						li
							a(href="#") Contact us
						li
							a(href="#") Mortgage News
						li
							a(href="#") Join Now
					.language
						p
							img(src="img/united-kingdom.svg", alt="#")
							| EN
						ul
							li
								a(href="#")
									img(src="img/russia.svg", alt="#")
									| RU
							li
								a(href="#")
									img(src="img/germany.svg", alt="#")
									| GE
							li
								a(href="#")
									img(src="img/france.svg", alt="#")
									| FR
	.head-bottom
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					a.logo(href="/")
						img(src="img/logo.svg", alt="#")
					.burger
						span
						span
						span
					ul.menu
						li
							a(href="#") Brokers
						li
							a(href="#") Banks
						li
							a(href="#") News
						li
							a(href="#") Services
						li
							a(href="#") Tools
					a.button.red(href="#") ASK QUESTION
