section
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.breadcrumbs
					span
						a(href="/")
							span Home
					span Province
				h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla lectus, pretium sed odio nec, pellentesque porttitor purus. Sed in est et sapien rhoncus auctor. Praesent pharetra lacus nulla, placerat condimentum libero consectetur sed. Aenean vel ornare ligula.
	.brokers
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Featured Mortgage Brokers in *PROVINCE*
					.broker
						a(href="#")
							img(src="img/broker-1.jpg", alt="#")
						.description
							a(href="#") Muhammad Sajjad (Sajjad) Minhas
							ul.rating(data-rating="4")
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							ul
								li
									a.button.red(href="#") Toronto
								li
									a.button.grey(href="#") Ontario
							hr.sline
							a(href="#")
								img.logo(src="img/broker-logo-1.png", alt="#")
					.broker
						a(href="#")
							img(src="img/broker-2.jpg", alt="#")
						.description
							a(href="#") Muhammad Sajjad (Sajjad) Minhas
							ul.rating(data-rating="4")
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							ul
								li
									a.button.red(href="#") Toronto
								li
									a.button.grey(href="#") Ontario
							hr.sline
							a(href="#")
								img.logo(src="img/broker-logo-2.png", alt="#")
					.broker
						a(href="#")
							img(src="img/broker-3.jpg", alt="#")
						.description
							a(href="#") Muhammad Sajjad (Sajjad) Minhas
							ul.rating(data-rating="4")
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							ul
								li
									a.button.red(href="#") Toronto
								li
									a.button.grey(href="#") Ontario
							hr.sline
							a(href="#")
								img.logo(src="img/broker-logo-3.png", alt="#")
					.broker
						a(href="#")
							img(src="img/broker-4.jpg", alt="#")
						.description
							a(href="#") Muhammad Sajjad (Sajjad) Minhas
							ul.rating(data-rating="4")
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							ul
								li
									a.button.red(href="#") Toronto
								li
									a.button.grey(href="#") Ontario
							hr.sline
							a(href="#")
								img.logo(src="img/broker-logo-4.png", alt="#")
					.broker
						a(href="#")
							img(src="img/broker-5.jpg", alt="#")
						.description
							a(href="#") Muhammad Sajjad (Sajjad) Minhas
							ul.rating(data-rating="4")
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							ul
								li
									a.button.red(href="#") Toronto
								li
									a.button.grey(href="#") Ontario
							hr.sline
							a(href="#")
								img.logo(src="img/broker-logo-5.png", alt="#")
					.broker
						a(href="#")
							img(src="img/broker-6.jpg", alt="#")
						.description
							a(href="#") Muhammad Sajjad (Sajjad) Minhas
							ul.rating(data-rating="4")
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							ul
								li
									a.button.red(href="#") Toronto
								li
									a.button.grey(href="#") Ontario
							hr.sline
							a(href="#")
								img.logo(src="img/broker-logo-1.png", alt="#")
					a.button.red(href="#") View More
	.subscribe
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					form
						h2 Subscribe Now
						.input
							input(type="text" placeholder="Name")
						.input
							input(type="text" placeholder="E-mail")
						.input
							input.button.red(type="submit" value="Apply Now")
	.nav
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Mortgage Tools
					p A second mortgage is a lien on a property which is subordinate to a more senior mortgage or loan. Called lien holders positioning, the second mortgage falls behind the first mortgage. This means second mortgages are riskier for lenders and thus generally come with a higher interest rate than first mortgages.
					ul
						li.item
							a.icon-land-tax(href="#") Land Transfer Tax
								br
								| Calculator
						li.item
							a.icon-mortgage-payment(href="#") Mortgage Payment
								br
								| Calculator
						li.item
							a.icon-mortgage-qualifier(href="#") CMHC Insurance
								br
								| Calculator
						li.item
							a.icon-mortgage-payment(href="#") Mortgage Affordability
								br
								| Calculator
	.lenders
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Lenders
					.items.mini-logo
						a.logo(href="#")
							img(src="img/broker-logo-6.png", alt="#")
						a.logo(href="#")
							img(src="img/broker-logo-7.png", alt="#")
						a.logo(href="#")
							img(src="img/broker-logo-8.png", alt="#")
						a.logo(href="#")
							img(src="img/broker-logo-9.png", alt="#")
						a.logo(href="#")
							img(src="img/broker-logo-6.png", alt="#")
						a.logo(href="#")
							img(src="img/broker-logo-7.png", alt="#")
						a.logo(href="#")
							img(src="img/broker-logo-8.png", alt="#")
						a.logo(href="#")
							img(src="img/broker-logo-9.png", alt="#")
	.news
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Mortgage News
					.items
						a.item(href="#")
							.img
								img(src="img/news-1.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
						a.item(href="#")
							.img
								img(src="img/news-2.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
						a.item(href="#")
							.img
								img(src="img/news-3.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
						a.item(href="#")
							.img
								img(src="img/news-4.jpg", alt="#")
							.description
								h4 Cras sed felis eget velit aliquet sagittis...
								ul
									li by
										span BestMortgageBrokers
									li 18.12.19
					a.button.red(href="#") Read More
	.subscribe
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					form
						h2 Subscribe Now
						.input
							input(type="text" placeholder="Name")
						.input
							input(type="text" placeholder="E-mail")
						.input
							input.button.red(type="submit" value="Apply Now")
