section
	.banner(style="background-image: url(img/banner.jpg)")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a(href="/")
								span Home
						span
							a(href="#")
								span Services
						span Commercial Mortgages
					.description
						h1.icon-property Commercial Mortgages
						a.button.red(href="#") Apply Now
	.navigation
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					ul
						li.active
							a(href="#service") Introduction
						li
							a(href="#terminology") Terminology
						li
							a(href="#time-frame") Time Frame
						li
							a(href="#requirements") Requirements
						li
							a(href="#types") Types
						li
							a(href="#benefits") Benefits
						li
							a(href="#providers") Providers
						li
							a(href="#faq") FAQ
	.service
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.df
					.content
						.section#service
							p A second mortgage is a lien on a property which is subordinate to a more senior mortgage or loan. Called lien holders positioning, the second mortgage falls behind the first mortgage. This means second mortgages are riskier for lenders and thus generally come with a higher interest rate than first mortgages. This is because if the loan goes into default, the first mortgage gets paid off first before the second mortgage. Commercial loans can have multiple loans as long as the equity supports it.
							p When refinancing, if the homeowner wants to refinance the first mortgage and keep the second mortgage, the homeowner has to request a subordination from the second lender to let the new first lender step into the first lien holder position.
							p A second mortgage can be structured as a fixed amount to be paid off in a specific time, called home equity term. They can also be structured like a credit card giving the borrower the option to make a payment less than the interest charged each month.
							p Due to lender guidelines, it is rare for conventional loans for a property having a third or fourth mortgage.
							p In the terms of foreclosure, a second lien holder can start the foreclosure process when a homeowner stops making payments. The second lien holder has to satisfy the first mortgage balance before they could collect on the second mortgage balance.
							p In situations when a property is lost to foreclosure and there is little or no equity, the first lien holder has the option to request a settlement for less with the second lien holder to release the second mortgage from the title. Once the second lien holder releases themselves from the title, they can come after the homeowner in civil court to pursue a judgement. At this point, the only option available to the homeowner is to accept the judgment or file bankruptcy.
							.receive
								h2 Get Your Mortgage Broker Now!
								a.button.red(href="#") Apply Now
						.section#terminology
							h2 Glossary
							p
								strong Loan amount.
								| The loan amount of a commercial mortgage is generally determined based on loan to value (LTV) and debt service coverage ratios, more fully discussed below in the section on underwriting standards.
							p
								strong Loan structure.
								| Commercial mortgages can be structured as first liens or, if a greater loan amount is desired, the borrower may be able to obtain subordinate financing as well, sometimes structured as a mezzanine note or as preferred equity, which generally carries a higher interest rate.
							p Interest rate. Interest rates for commercial mortgages may be fixed-rate or floating rate. Fixed-rate mortgages on stabilized commercial real estate are generally priced based on a spread to swaps, with the swap spread matched to the term of the loan. Market interest rates as well as underwriting factors greatly affect the interest rate quoted on a particular piece of commercial real estate. Interest rates for commercial mortgages are usually higher than those for residential mortgages.
							p Fees. Many commercial mortgage lenders require an application fee or good-faith deposit, which is typically used by the lender to cover underwriting expenses such as an appraisal on the property. Commercial mortgages may also have origination or underwriting fees (paid at close as a reduction in loan proceeds) and/or exit fees (paid when the loan is repaid).
							p Term. The term of a commercial mortgage is generally between five and ten years for stabilized commercial properties with established cash flows (sometimes called "permanent loans"), and between one and three years for properties in transition, for example, newly opened properties or properties undergoing renovation or repositioning (sometimes called "bridge loans"). Mortgages on multifamily properties that are provided by a government-sponsored enterprise or government agency may have terms of thirty years or more. Some commercial mortgages may allow extensions if certain conditions are met, which may include payment of an extension fee. Some commercial mortgages have an "anticipated repayment date," which means that if the loan is not repaid by the anticipated repayment date, the loan is not in defaults.
							p Amortization. Commercial mortgages frequently amortize over the term of the loan, meaning the borrower pays both interest and principal over time, and the loan balance at the end of the term is less than the original loan amount. However, unlike residential mortgages, commercial mortgages generally do not fully amortize over the stated term, and therefore frequently end with a balloon payment of the remaining balance, which is often repaid by refinancing the property. Some commercial mortgages have an interest-only period at the beginning of the loan term during which time the borrower only pays interest.
							p Prepayment. Commercial loans vary in their prepayment terms, that is, whether or not a real estate investor is allowed to refinance the loan at will. Some portfolio lenders, such as banks and insurance companies, may allow prepayment flexibility. In contrast, for a borrower to prepay a conduit loan, the borrower will have to defease the bonds, by buying enough government bonds (treasuries) to provide the investors with the same amount of income as they would have had if the loan was still in place.
							p Borrower entity. A commercial mortgage is typically taken in by a special purpose entity such as a corporation or an LLC created specifically to own just the subject property, rather than by an individual or a larger business. This allows the lender to foreclose on the property in the event of default even if the borrower has gone into bankruptcy, that is, the entity is "bankruptcy remote".
							p Recourse. Commercial mortgages may be recourse or non-recourse. A recourse mortgage is supplemented by a general obligation of the borrower or a personal guarantee from the owner(s) of the property, which makes the debt payable in full even if foreclosure on the property does not satisfy the outstanding balance. A nonrecourse mortgage is secured only by the commercial property that serves as collateral. In an event of default, the creditor can foreclose on the property, but has no further claim against the borrower for any remaining deficiency.
							p If a sponsor is seeking financing on a portfolio of commercial real estate properties, rather than a single property, the sponsor may choose to take out a cross-collateralized loan, in which the all of the properties collateralize the loan.
							p Reserves. Lenders may require borrowers to establish reserves to fund specific items at closing, such as anticipated tenant improvement and leasing commission (TI/LC) expense, needed repair and capital expenditure expense, and interest reserves.
						.section#time-frame
							h2 Expected time frames for
								br
								| approval and term
							p When the term of the loan is extended, it will take longer to pay that mortgage in full. If you took out a loan when you bought your home, it was probably a 30-year loan. Say you decide to refinance your mortgage at the end of 5 years. Instead of looking forward to paying off your loan in 25 years at this point, you will now be paying on that mortgage for a total period of 35 years.
							p If your original loan was amortized for 30 years on a $100,000 mortgage at 6% interest, your monthly payment is $599.55. If you refinance that mortgage at $103,000, at 5.5%, your new payment is $584.82. Your loan will reset to a 30-year term. Most borrowers select a 30-year amortization period.
							p You will make an extra 60 months of payments and pay $35,065 more over the life of the loan, should you live in the property long enough to pay off your loan. If you decide to sell after mortgage refinancing, you will lose $3,000 of equity, plus whatever principal balance you had paid down on the original $100,000 loan.
						.section#requirements
							h2 Minimum
								br
								| requirements
							p Most lenders require a 20% minimum down payment on a construction loan, and some require as much as 25%.
							p To gain approval for a construction loan, the borrower will need to give the lender a comprehensive list of construction details (also known as a “blue book”). The borrower will also have to prove that a qualified builder is involved in the project.
							p
								strong Down payment:
								| To get a construction loan, you’ll need to make a down payment of 20% or more of the cost of the total project. This means that you will need to be prepared to start the project with your own funds or assets before a lender will agree to loan more. If you already own the land, for example, it’s likely that you will be able to use that toward the down payment amount.
							p Talk to your lender about this. The particular amount of your down payment will depend on the cost of your project, the land, and what you plan to do with the funds. Lenders require high down payments as a way of making sure you’re invested in the project and won’t vanish if things go wrong during construction.
							p
								strong Strong personal credit:
								| Anytime you apply for a construction loan, you’ll need to provide the lender with your personal credit history--even if you are applying as a small business. The lender will almost definitely want to see your personal FICO score and your business credit history, too.
							p
								strong Financial documents:
								| Typically, a prospective lender will analyze your current and past debt and payment history, as well as any other loans or liens you may have on your property. Whether this loan is for your own home, or for a small business construction project, you’ll be asked to provide financial statements, tax returns, and proof of other assets.
							p
								strong Good reputation:
								| Whether you are the builder, or you are working with a builder, know that the lender will scrutinize the builder’s reputation. Any public information is fair game for making this judgement call: vendor and subcontractor reviews, online reviews, and previous work history.
							p If you are working with a builder, they should not hesitate to provide evidence of their good reputation, along with the detailed project plans and cost estimates you’ll also need. If you need help finding a qualified builder, check out one of the many National Association of Home Builders chapters closest to you. A trusted local builder with a solid history of successfully completed projects will have an easier time getting a vote of approval from a financial institution in the form of a construction loan.
							p
								strong Appraisal:
								| It’s challenging to appraise something that does not exist yet! Of course, there are experts who do just that every day. Construction lenders work with appraisers to analyze your project when you apply for a loan. They review the specifications of your construction project and compare it with other existing constructions of similar specifications. They then draw conclusions regarding the possible worth of the construction in the future.
							p It is very important to get a good appraisal to improve your chances of getting a construction loan approved. You can get an independent appraisal if you want, but your lender will most likely insist on conducting their own.
							.receive
								h2 Get Your Mortgage Broker Now!
								a.button.red(href="#") Apply Now
						.section#types
							h2 Types
							p
								strong Construction Mortgage Loans:
								| This is a loan you can use to finance the purchase of land, or construction of a home on land you already own. These loans are usually structured so that the lender pays a percentage of the completion costs and you, the builder or developer, pay the rest.
							p During construction, the lender will release your funds in a series of payments, called “draws.” Typically, the lender will require an inspection between draws to check that the project is proceeding as planned. As the borrower, you are responsible for paying interest on the amount of funds you use.
							p This is different from a term loan, where you get a lump sum payment at once, and then pay back interest on the whole amount. Once your construction is complete and your interest paid, you’re responsible for repaying the entire loan amount by the due date. Generally, construction loans have short terms because they reflect the amount of time it would take to build the project; a year-long term is common.
							p
								strong Construction-to-Permanent Loans:
								| Also called the CPloan, construction-to-permanent loans are another option for financing the building of a new home. CPloans offer some extra convenience to borrowers by combining two types of loans in a single process.
							p During construction, if you have a construction-to-permanent loan, you only pay interest on the outstanding balance, at an adjustable rate determined by the lender and pegged to the prime rate. The prime rate is a widely-used benchmark based on the federal funds rate, which is set by the Federal Reserve, meaning that if the Fed raises rates, then the interest rate on your construction-to-permanent loan will rise, too.
							p When the construction phase is over, the C2P loan converts into a standard 15- or 30 year mortgage where you pay principal and interest.
							p An advantage of construction-to-permanent loans for small business owners and homeowners is that instead of having to get a loan for the construction phase and then a second for financing the finished project, you can get two loans at once. In this scenario, you only close once and pay one set of closing costs.
							p
								strong Commercial Construction Loans:
								| If you’re thinking bigger and planning to construct a multi-family home or apartment building, high-rise, multi-unit retail center, commercial office building, or other type of larger project, then you should probably be looking for a commercial construction loan.
							p Lenders for modern commercial construction loans for apartments and similar big projects are extremely risk-avoidant, and will expect a developer to shoulder most of the risk by covering up to 90% of the cost of the project. If you’re involved with this type of commercial project, you’ll need to be prepared with a lot of cash on hand to fund the construction yourself.
						.section#benefits
							h2 Benefits
							p A new, properly structured loan can improve your financial situation. Some of the potential advantages include:
							blockquote
								p Lowering your monthly payment*. According to one study, an average homeowner may save $160 or more per month with a refinance. With a lower monthly payment, you are free to put the savings toward other debts and other expenditures, or apply that savings towards your monthly mortgage payment and pay off your loan sooner.
							blockquote
								p Remove private mortgage insurance (PMI). Some homeowners who have enough property appreciation or principal paid off will not be required to pay mortgage insurance which will reduce your total monthly payment.
							blockquote
								p Reducing the length of your loan. For homeowners who took out a mortgage in the early stages of their career, a 30-year mortgage may have made the most financial sense. But for those who want to pay off their mortgage sooner, reducing the loan term can be an attractive option.
							blockquote
								p Switching from an adjustable-rate mortgage to a fixed-rate loan. When you have an adjustable-rate mortgage, your payment can adjust up or down as interest rates change. Switching to a fixed-rate loan with reliable and stable monthly payments can give homeowners the security of knowing that their payment will never change.
							blockquote
								p Consolidating your first mortgage and your home equity line of credit (HELOC). By rolling these into a single monthly payment, you can simplify your finances and focus on one debt. HELOCs often have adjustable rates, so refinancing into a fixed-rate loan could potentially save you money in the long run.
							blockquote
								p Using the equity in your home to take out cash. With rising home values, you may have enough equity to take out a cash-out refinance. This money can be used to finance home improvements, pay off debts or to fund large purchases.
						.section#providers
							h2 Providers
							p
								strong Banks.
								| Banks, large and small, are traditional providers of commercial mortgages. According to the Federal Reserve, banks held $1.5 trillion of commercial mortgages on their books as of June 30, 2013.
							p
								strong Conduit lenders.
								| Conduit lenders originate commercial mortgages and hold them as investments for a short period of time before securitizing the loans and selling CMBS secured by the underlying commercial mortgage loans. Conduit lenders include both banks and non-bank finance companies. Approximately $560 billion of commercial mortgages were held by issuers of CMBS as of June 30, 2013, according to the Federal Reserve.
							p Securitization of commercial mortgages in its current form began with the Resolution Trust Corporation's (or RTC's) commercial securitization program in 1992-1997. The RTC applied an approach similar to the one it had begun successfully using with residential mortgages, issuing multiple tranches of securities secured by diversified pools of commercial mortgage loans. Following the introduction of the securitization methods by the RTC, private banks began to originate loans specifically for the purpose of turning them into securities. These loans are typically structured to forbid prepayment beyond a specified amortization schedule. This makes the resultant securities more attractive to investors, because they know that the commercial mortgages will remain outstanding even if interest rates decline.
							p New CMBS issuance peaked in 2007 at $229 billion. Then, the subprime mortgage crisis and the resultant global financial crisis caused CMBS prices to fall dramatically, and new issuances of CMBS securities came to a virtual halt in 2008-2009. The market has begun to recover, with $12 billion in new issuance in 2010, $37 billion in new issuance in 2011, and $48 billion in new issuance in 2012.
							p
								strong Government agencies.
								| Government-sponsored enterprises such as Fannie Mae and Freddie Mac, as well as government corporations such as Ginnie Mae, are active lenders for multifamily commercial real estate (that is, apartment buildings) in the United States. Approximately $390 billion of multifamily residential mortgages were held by government-sponsored enterprises or Agency and GSE-backed mortgage pools as of June 30, 2013, representing 12% of total commercial mortgages outstanding and 43% of multifamily commercial mortgages outstanding at that time.
							p Insurance companies. Insurance companies are active investors in commercial mortgages, and hold approximately $325 billion of commercial mortgages as of June 30, 2013.
							p
								strong Mortgage brokers.
								| Mortgage brokers do not provide commercial mortgage loans, but are often used to obtain multiple quotes from different potential lenders and to manage the financing process.
							p
								strong Correspondent Lenders.
								| Correspondent Lenders do not loan their own money, but provide front end services such as origination, underwriting, and loan servicing for lenders that utilize these types of companies. The correspondent often represents lenders in a particular geographic area.
						.section#faq
							h2 FAQ
							ul.accardion
								li
									h4.icon-plus Can debt consolidation help me pay down debt faster?
									.hide
										p Debt consolidation may help you lower your monthly payment or under certain circumstances decrease the amount of interest you pay, but this depends on your financial situation and your ability to make your monthly payments.
								li
									h4.icon-plus What kind of debt can I consolidate?
									.hide
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quidem, explicabo impedit, vero nulla suscipit natus, quasi corrupti ratione deserunt aut accusamus! Aperiam itaque, nostrum voluptas exercitationem facilis deserunt, harum nulla voluptatibus vitae veritatis, et consectetur vero. Debitis eligendi cumque facere dolorum nemo odio vero ea aliquid dolore, corporis omnis.
								li
									h4.icon-plus How do I consolidate credit cards?
									.hide
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aperiam voluptatem nam aut molestias in, iure quibusdam odio, doloremque, quia consectetur vitae perferendis tempore, commodi quisquam nihil. Nemo, saepe quisquam.
								li
									h4.icon-plus How much can I consolidate with a private consolidation student loan?
									.hide
										p Debt consolidation may help you lower your monthly payment or under certain circumstances decrease the amount of interest you pay, but this depends on your financial situation and your ability to make your monthly payments.
								li
									h4.icon-plus If I consolidate my debt, can you pay my creditors directly?
									.hide
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quidem, explicabo impedit, vero nulla suscipit natus, quasi corrupti ratione deserunt aut accusamus! Aperiam itaque, nostrum voluptas exercitationem facilis deserunt, harum nulla voluptatibus vitae veritatis, et consectetur vero. Debitis eligendi cumque facere dolorum nemo odio vero ea aliquid dolore, corporis omnis.
								li
									h4.icon-plus What kind of interest rates can I get with a balance transfer?
									.hide
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aperiam voluptatem nam aut molestias in, iure quibusdam odio, doloremque, quia consectetur vitae perferendis tempore, commodi quisquam nihil. Nemo, saepe quisquam.
					.sidebar
						form.newsletter
							h3.icon-mail Subscribe Now
							.input
								input(type="text" placeholder="Name")
							.input
								input(type="email" placeholder="Email")
							.input
								input.button.red(type="submit" value="Subscribe")
						.news-latest
							h2 Latest News
							a.item(href="#")
								img(src="img/post-1.jpg", alt="")
								.description
									h3 Cras sed felis eget velit aliquet sagittis
							a.item(href="#")
								img(src="img/post-2.jpg", alt="")
								.description
									h3 Cras sed felis eget velit aliquet sagittis
							a.item(href="#")
								img(src="img/post-3.jpg", alt="")
								.description
									h3 Cras sed felis eget velit aliquet sagittis
