section
	.services-page
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a(href="/")
								span Home
						span Services
					h1 Services
					.nav
						ul
							li.item
								a.icon-commercial-mortgages(href="#")  Commercial
									br
									| Mortgages
							li.item
								a.icon-second-mortgage(href="#") Second
									br
									| Mortgage
							li.item
								a.icon-debt-consolidation(href="#") Debt
									br
									| Consolidation
							li.item
								a.icon-heloc(href="#") Home Equity
									br
									| Loans (HELOC)
							li.item
								a.icon-home-mortgage(href="#") Home Purchase
									br
									| Mortgage
							li.item
								a.icon-mortgage-self-employed(href="#") Mortgage for Self
									br
									| employed
							li.item
								a.icon-home-buyer-mortgage(href="#") First Time Home Buyer
									br
									| Mortgage
							li.item
								a.icon-mortgage-refinancing(href="#") Mortgage
									br
									| Refinancing
							li.item
								a.icon-mortgage-renewal(href="#") Mortgage
									br
									| Renewal
							li.item
								a.icon-private-mortgages(href="#") Private
									br
									| Mortgages
							li.item
								a.icon-construction-financing(href="#") Construction
									br
									| Financing
							li.item
								a.icon-reverse-mortgage(href="#") Reverse
									br
									| Mortgage
							li.item
								a.icon-mortgage-porting(href="#") Mortgage
									br
									| Porting
							li.item
								a.icon-blender-mortgage(href="#") B-Lender
									br
									| Mortgage
							li.item
								a.icon-equity-takeout(href="#") Equity
									br
									| Takeout
							li.item
								a.icon-residential-mortgage(href="#") Residential
									br
									| Mortgage
