
<section>
  <div class="banks-list">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcrumbs"><span><a href="/"><span>Home</span></a></span><span>Banks</span></div>
          <h1>Choose and Compare banks</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla lectus, pretium sed odio nec, pellentesque porttitor purus. Sed in est et sapien rhoncus auctor. Praesent pharetra lacus nulla, placerat condimentum libero consectetur sed. Aenean vel ornare ligula, vitae porta lorem. Maecenas ex velit.</p>
          <div class="items"><a class="item" href="#"><img src="img/HSBC.png"/>
              <h3>HSBC</h3></a><a class="item" href="#"><img src="img/TD-Bank.jpg"/>
              <h3>TD Bank</h3></a><a class="item" href="#"><img src="img/BMO.png"/>
              <h3>BMO Bank of Montreal</h3></a><a class="item" href="#"><img src="img/Scotiabank.png"/>
              <h3>Scotiabank</h3></a><a class="item" href="#"><img src="img/RBC.png"/>
              <h3>RBC Royal Bank</h3></a><a class="item" href="#"><img src="img/TangerineBank.png"/>
              <h3>Tangerine</h3></a><a class="item" href="#"><img src="img/CIBC.jpg"/>
              <h3>CIBC</h3></a><a class="item" href="#"><img src="img/Motusbank.png"/>
              <h3>Motusbank</h3></a><a class="item" href="#"><img src="img/Equitable.png"/>
              <h3>Equitable Bank</h3></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Mortgage News</h2>
          <div class="items"><a class="item" href="#">
              <div class="img"><img src="img/news-1.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-2.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-3.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-4.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a></div><a class="button red" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <h2>Subscribe Now</h2>
            <div class="input">
              <input type="text" placeholder="Name"/>
            </div>
            <div class="input">
              <input type="text" placeholder="E-mail"/>
            </div>
            <div class="input">
              <input class="button red" type="submit" value="Apply Now"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
