
<section>
  <div class="banner" style="background-image:url(img/banner.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="description">
            <h1>We Will Help You Find The Mortgage Broker</h1>
            <form>
              <div class="search">
                <input type="search" placeholder="Enter Your Location"/>
                <button class="icon-search"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul>
            <li class="item"><a class="icon-brokers" href="#">Brokers</a></li>
            <li class="item"><a class="icon-banks" href="#">Banks</a></li>
            <li class="item"><a class="icon-mortgage-analyzer" href="#">Services</a></li>
            <li class="item"><a class="icon-mortgage-payment" href="#">Tools</a></li>
            <li class="item"><a class="icon-news" href="#">News</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="brokers">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Featured Mortgage Brokers in *PROVINCE*</h2>
          <div class="broker"><a href="#"><img src="img/broker-1.jpg" alt="#"/></a>
            <div class="description"><a class="broker_link" href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button grey" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul><a class="icon-bank" href="#"><span>Dominion Lending Centers</span></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-2.jpg" alt="#"/></a>
            <div class="description"><a class="broker_link" href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button grey" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul><a class="icon-bank" href="#"><span>Dominion Lending Centers</span></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-3.jpg" alt="#"/></a>
            <div class="description"><a class="broker_link" href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button grey" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul><a class="icon-bank" href="#"><span>Dominion Lending Centers</span></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-4.jpg" alt="#"/></a>
            <div class="description"><a class="broker_link" href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button grey" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul><a class="icon-bank" href="#"><span>Dominion Lending Centers</span></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-5.jpg" alt="#"/></a>
            <div class="description"><a class="broker_link" href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button grey" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul><a class="icon-bank" href="#"><span>Dominion Lending Centers</span></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-6.jpg" alt="#"/></a>
            <div class="description"><a class="broker_link" href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button grey" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul><a class="icon-bank" href="#"><span>Dominion Lending Centers</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="brokers">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Best Mortgage Rates</h2>
          <div class="table">
            <div class="tr">
              <div class="th">Lender</div>
              <div class="th">Interest Rate</div>
              <div class="th">Term</div>
              <div class="th"></div>
            </div>
            <div class="tr">
              <div class="td" data-title="Lender"><img class="logo" src="img/broker-logo-1.png" alt=""/></div>
              <div class="td" data-title="Interest Rate">4.65%<span>Fixed</span></div>
              <div class="td" data-title="Term">2<span>Years</span></div>
              <div class="td" data-title=""><a class="button red" href="#">Apply Now</a></div>
            </div>
            <div class="tr">
              <div class="td" data-title="Lender"><img class="logo" src="img/broker-logo-2.png" alt=""/></div>
              <div class="td" data-title="Interest Rate">3.55%<span>Fixed</span></div>
              <div class="td" data-title="Term">5<span>Years</span></div>
              <div class="td" data-title=""><a class="button red" href="#">Apply Now</a></div>
            </div>
            <div class="tr">
              <div class="td" data-title="Lender"><img class="logo" src="img/broker-logo-3.png" alt=""/></div>
              <div class="td" data-title="Interest Rate">6.25%<span>Fixed</span></div>
              <div class="td" data-title="Term">3<span>Years</span></div>
              <div class="td" data-title=""><a class="button red" href="#">Apply Now</a></div>
            </div>
            <div class="tr">
              <div class="td" data-title="Lender"><img class="logo" src="img/broker-logo-4.png" alt=""/></div>
              <div class="td" data-title="Interest Rate">5.25%<span>Fixed</span></div>
              <div class="td" data-title="Term">2<span>Years</span></div>
              <div class="td" data-title=""><a class="button red" href="#">Apply Now</a></div>
            </div>
            <div class="tr">
              <div class="td" data-title="Lender"><img class="logo" src="img/broker-logo-5.png" alt=""/></div>
              <div class="td" data-title="Interest Rate">3.25%<span>Fixed</span></div>
              <div class="td" data-title="Term">5<span>Years</span></div>
              <div class="td" data-title=""><a class="button red" href="#">Apply Now</a></div>
            </div>
            <div class="tr">
              <div class="td" data-title="Lender"><img class="logo" src="img/broker-logo-1.png" alt=""/></div>
              <div class="td" data-title="Interest Rate">4.625%<span>Fixed</span></div>
              <div class="td" data-title="Term">3<span>Years</span></div>
              <div class="td" data-title=""><a class="button red" href="#">Apply Now</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <h2>Subscribe Now</h2>
            <div class="input">
              <input type="text" placeholder="Name"/>
            </div>
            <div class="input">
              <input type="text" placeholder="E-mail"/>
            </div>
            <div class="input">
              <input class="button red" type="submit" value="Apply Now"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Mortgage Tools</h2>
          <p>A second mortgage is a lien on a property which is subordinate to a more senior mortgage or loan. Called lien holders positioning, the second mortgage falls behind the first mortgage. This means second mortgages are riskier for lenders and thus generally come with a higher interest rate than first mortgages.</p>
          <ul>
            <li class="item"><a class="icon-land-tax" href="#">Land Transfer Tax<br/>Calculator</a></li>
            <li class="item"><a class="icon-mortgage-payment" href="#">Mortgage Payment<br/>Calculator</a></li>
            <li class="item"><a class="icon-mortgage-qualifier" href="#">CMHC Insurance<br/>Calculator</a></li>
            <li class="item"><a class="icon-mortgage-payment" href="#">Mortgage Affordability<br/>Calculator</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="lenders">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Lenders</h2>
          <div class="items"><a class="logo" href="#"><img src="img/broker-logo-1.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-2.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-3.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-4.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-5.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-1.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-2.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-3.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-4.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-5.png" alt="#"/></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner" id="count" style="background-image:url(img/banner-2.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Best Mortgage Brokers Statistics</h2>
          <p>A second mortgage is a lien on a property which is subordinate to a more senior mortgage or loan. Called lien holders positioning, the second mortgage falls behind the first mortgage. This means second mortgages are riskier for lenders and thus generally come with a higher interest rate than first mortgages.</p>
          <ul class="desc">
            <li><span class="count-number" data-speed="1500" data-to="14558"></span>Mortgage Brokers</li>
            <li><span class="count-number" data-speed="1500" data-to="8485"></span>Mortgage Specialists</li>
            <li><span class="count-number" data-speed="1500" data-to="1586"></span>Mortgage Lenders</li>
            <li><span class="count-number" data-speed="1500" data-to="258"></span>Banks</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="cities">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Find Best Mortgage Broker In The City</h2>
          <p>Using a local broker gives you the ability to meet in-person to discuss your needs and concerns and gives you access to the best mortgage rates offered by banks and lenders across Canada.</p>
          <div class="dfr">
            <ul class="nav nav-tabs" data-title="Province">
              <li class="active"><a href="#saskatchewan" data-toggle="tab">Saskatchewan</a></li>
              <li><a href="#quebec" data-toggle="tab">Quebec</a></li>
              <li><a href="#prince-edward-island" data-toggle="tab">Prince Edward Island</a></li>
              <li><a href="#nova-scotia" data-toggle="tab">Nova Scotia</a></li>
              <li><a href="#new-brunswick" data-toggle="tab">New Brunswick</a></li>
              <li><a href="#manitoba" data-toggle="tab">Manitoba</a></li>
              <li><a href="#british-columbia" data-toggle="tab">British Columbia</a></li>
              <li><a href="#alberta" data-toggle="tab">Alberta</a></li>
              <li><a href="#ontario" data-toggle="tab">Ontario</a></li>
            </ul>
            <div class="tab-content" data-title="City">
              <div class="tab-pane active" id="saskatchewan">
                <ul>
                  <li><a href="#">Emerald Park</a></li>
                  <li><a href="#">Prince Albert</a></li>
                  <li><a href="#">Regina</a></li>
                  <li><a href="#">Saskatoon</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="quebec">
                <ul>
                  <li><a href="#">St-Eustache</a></li>
                  <li><a href="#">Montréal</a></li>
                  <li><a href="#">Brossard</a></li>
                  <li><a href="#">Saint-Constant</a></li>
                  <li><a href="#">Montreal-Nord</a></li>
                  <li><a href="#">Gatineau</a></li>
                  <li><a href="#">Greenfield Park</a></li>
                  <li><a href="#">Pointe-Claire</a></li>
                  <li><a href="#">St-Frederic</a></li>
                  <li><a href="#">Laval</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="prince-edward-island">
                <ul>
                  <li><a href="#">Charlottetown</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="nova-scotia">
                <ul>
                  <li><a href="#">St. John’s</a></li>
                  <li><a href="#">St John’s</a></li>
                  <li><a href="#">Truro</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="new-brunswick">
                <ul>
                  <li><a href="#">St Andrews</a></li>
                  <li><a href="#">Greater Lakeburn</a></li>
                  <li><a href="#">Dieppe</a></li>
                  <li><a href="#">Fredericton</a></li>
                  <li><a href="#">Grand Falls</a></li>
                  <li><a href="#">Moncton</a></li>
                  <li><a href="#">Saint John</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="manitoba">
                <ul>
                  <li><a href="#">Brandon</a></li>
                  <li><a href="#">Winnipeg</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="british-columbia">
                <ul>
                  <li><a href="#">West Kelowna</a></li>
                  <li><a href="#">Maple Ridge</a></li>
                  <li><a href="#">Comox</a></li>
                  <li><a href="#">Vernon</a></li>
                  <li><a href="#">Sidney</a></li>
                  <li><a href="#">Pitt Meadows</a></li>
                  <li><a href="#">Squamish</a></li>
                  <li><a href="#">Campbell River</a></li>
                  <li><a href="#">Cobble Hill</a></li>
                  <li><a href="#">Penticton</a></li>
                  <li><a href="#">Whistler</a></li>
                  <li><a href="#">West Vancouver</a></li>
                  <li><a href="#">Harrison Hot Springs</a></li>
                  <li><a href="#">North Vancouver</a></li>
                  <li><a href="#">Aldergrove</a></li>
                  <li><a href="#">Duncan</a></li>
                  <li><a href="#">Nanaimo</a></li>
                  <li><a href="#">Chilliwack</a></li>
                  <li><a href="#">Abbotsford</a></li>
                  <li><a href="#">Fernie</a></li>
                  <li><a href="#">Cranbrook</a></li>
                  <li><a href="#">Port Moody</a></li>
                  <li><a href="#">Prince George</a></li>
                  <li><a href="#">Coquitlam</a></li>
                  <li><a href="#">Port Coquitlam</a></li>
                  <li><a href="#">Burnaby</a></li>
                  <li><a href="#">Kelowna</a></li>
                  <li><a href="#">Kamloops</a></li>
                  <li><a href="#">Richmond</a></li>
                  <li><a href="#">Langley</a></li>
                  <li><a href="#">Victoria</a></li>
                  <li><a href="#">Delta</a></li>
                  <li><a href="#">Vancouver</a></li>
                  <li><a href="#">Surrey</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="alberta">
                <ul>
                  <li><a href="#">High River</a></li>
                  <li><a href="#">Spruce Grove</a></li>
                  <li><a href="#">Okotoks</a></li>
                  <li><a href="#">Innisfail</a></li>
                  <li><a href="#">St. Albert</a></li>
                  <li><a href="#">Red Deer</a></li>
                  <li><a href="#">Grand-Prairie</a></li>
                  <li><a href="#">Foothills</a></li>
                  <li><a href="#">Lethbridge</a></li>
                  <li><a href="#">Medicine Hat</a></li>
                  <li><a href="#">Edmonton</a></li>
                  <li><a href="#">Sherwood Park</a></li>
                  <li><a href="#">Calgary</a></li>
                </ul>
              </div>
              <div class="tab-pane" id="ontario">
                <ul>
                  <li><a href="#">Victoria Harbour</a></li>
                  <li><a href="#">Mount Forest</a></li>
                  <li><a href="#">Lefroy</a></li>
                  <li><a href="#">Kanata</a></li>
                  <li><a href="#">Unionville</a></li>
                  <li><a href="#">Cornwall</a></li>
                  <li><a href="#">Grimsby</a></li>
                  <li><a href="#">Ancaster</a></li>
                  <li><a href="#">Kemptville</a></li>
                  <li><a href="#">Port Perry</a></li>
                  <li><a href="#">Niagara Falls</a></li>
                  <li><a href="#">Sharbot Lake</a></li>
                  <li><a href="#">Carleton Place</a></li>
                  <li><a href="#">Welland</a></li>
                  <li><a href="#">Stratford</a></li>
                  <li><a href="#">Cobourg</a></li>
                  <li><a href="#">Bolton</a></li>
                  <li><a href="#">St. Catherines</a></li>
                  <li><a href="#">Timmins</a></li>
                  <li><a href="#">Owen Sound</a></li>
                  <li><a href="#">North Bay</a></li>
                  <li><a href="#">Thornbury</a></li>
                  <li><a href="#">Woodstock</a></li>
                  <li><a href="#">Newmarket</a></li>
                  <li><a href="#">Listowel</a></li>
                  <li><a href="#">Brantford</a></li>
                  <li><a href="#">Milton</a></li>
                  <li><a href="#">Rockwood</a></li>
                  <li><a href="#">Belleville</a></li>
                  <li><a href="#">Dundas</a></li>
                  <li><a href="#">Kingston</a></li>
                  <li><a href="#">Etobicoke</a></li>
                  <li><a href="#">Scarborough</a></li>
                  <li><a href="#">Sault Ste. Marie</a></li>
                  <li><a href="#">Stoney Creek</a></li>
                  <li><a href="#">Willowdale</a></li>
                  <li><a href="#">Smiths Falls</a></li>
                  <li><a href="#">Collingwood</a></li>
                  <li><a href="#">Trenton</a></li>
                  <li><a href="#">Cumberland</a></li>
                  <li><a href="#">Guelph</a></li>
                  <li><a href="#">Wasaga Beach</a></li>
                  <li><a href="#">Deseronto</a></li>
                  <li><a href="#">Cambridge</a></li>
                  <li><a href="#">Brockville</a></li>
                  <li><a href="#">Chatham</a></li>
                  <li><a href="#">Sudbury</a></li>
                  <li><a href="#">Thunder Bay</a></li>
                  <li><a href="#">Caledon</a></li>
                  <li><a href="#">Barrie</a></li>
                  <li><a href="#">Waterdown</a></li>
                  <li><a href="#">Peterborough</a></li>
                  <li><a href="#">St Catharines</a></li>
                  <li><a href="#">Concord</a></li>
                  <li><a href="#">Port Dover</a></li>
                  <li><a href="#">Vaughan</a></li>
                  <li><a href="#">Orillia</a></li>
                  <li><a href="#">London</a></li>
                  <li><a href="#">Oakville</a></li>
                  <li><a href="#">Orleans</a></li>
                  <li><a href="#">Kenora</a></li>
                  <li><a href="#">Whitby</a></li>
                  <li><a href="#">Sault Ste Marie</a></li>
                  <li><a href="#">Ajax</a></li>
                  <li><a href="#">Windsor</a></li>
                  <li><a href="#">Lindsay</a></li>
                  <li><a href="#">Aurora</a></li>
                  <li><a href="#">Midland</a></li>
                  <li><a href="#">North York</a></li>
                  <li><a href="#">Simcoe</a></li>
                  <li><a href="#">Burlington</a></li>
                  <li><a href="#">Belle River</a></li>
                  <li><a href="#">Mississauga</a></li>
                  <li><a href="#">Pickering</a></li>
                  <li><a href="#">Stouffville</a></li>
                  <li><a href="#">Caledonia</a></li>
                  <li><a href="#">Woodbridge</a></li>
                  <li><a href="#">Richmond Hill</a></li>
                  <li><a href="#">Ottawa</a></li>
                  <li><a href="#">Hamilton</a></li>
                  <li><a href="#">Brampton</a></li>
                  <li><a href="#">Kitchener</a></li>
                  <li><a href="#">Thornhill</a></li>
                  <li><a href="#">Orangeville</a></li>
                  <li><a href="#">Waterloo</a></li>
                  <li><a href="#">Markham</a></li>
                  <li><a href="#">Oshawa</a></li>
                  <li><a href="#">Toronto</a></li>
                  <li><a href="#">Amherstburg</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Mortgage News</h2>
          <div class="items"><a class="item" href="#">
              <div class="img"><img src="img/news-1.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-2.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-3.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-4.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a></div><a class="button red" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <h2>Subscribe Now</h2>
            <div class="input">
              <input type="text" placeholder="Name"/>
            </div>
            <div class="input">
              <input type="text" placeholder="E-mail"/>
            </div>
            <div class="input">
              <input class="button red" type="submit" value="Apply Now"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
