
<section>
  <div class="contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <div class="input">
              <input type="text" placeholder="Name*"/>
            </div>
            <div class="input">
              <input type="tel" placeholder="Phone*"/>
            </div>
            <div class="input">
              <input type="email" placeholder="E-mail*"/>
            </div>
            <div class="textarea">
              <textarea placeholder="Message"></textarea>
            </div>
            <div class="input">
              <input class="button red" type="submit" value="Apply Now"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
