
<header>
  <div class="head-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="menu">
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Mortgage News</a></li>
            <li><a href="#">Join Now</a></li>
          </ul>
          <div class="language">
            <p><img src="img/united-kingdom.svg" alt="#"/>EN</p>
            <ul>
              <li><a href="#"><img src="img/russia.svg" alt="#"/>RU</a></li>
              <li><a href="#"><img src="img/germany.svg" alt="#"/>GE</a></li>
              <li><a href="#"><img src="img/france.svg" alt="#"/>FR</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="head-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="logo" href="/"><img src="img/logo.svg" alt="#"/></a>
          <div class="burger"><span></span><span></span><span></span></div>
          <ul class="menu">
            <li><a href="#">Brokers</a></li>
            <li><a href="#">Banks</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Tools</a></li>
          </ul><a class="button red" href="#">ASK QUESTION</a>
        </div>
      </div>
    </div>
  </div>
</header>
