
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumbs"><span><a href="/"><span>Home</span></a></span><span>Province</span></div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla lectus, pretium sed odio nec, pellentesque porttitor purus. Sed in est et sapien rhoncus auctor. Praesent pharetra lacus nulla, placerat condimentum libero consectetur sed. Aenean vel ornare ligula.</p>
      </div>
    </div>
  </div>
  <div class="brokers">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Featured Mortgage Brokers in *PROVINCE*</h2>
          <div class="broker"><a href="#"><img src="img/broker-1.jpg" alt="#"/></a>
            <div class="description"><a href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button red" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul>
              <hr class="sline"/><a href="#"><img class="logo" src="img/broker-logo-1.png" alt="#"/></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-2.jpg" alt="#"/></a>
            <div class="description"><a href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button red" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul>
              <hr class="sline"/><a href="#"><img class="logo" src="img/broker-logo-2.png" alt="#"/></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-3.jpg" alt="#"/></a>
            <div class="description"><a href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button red" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul>
              <hr class="sline"/><a href="#"><img class="logo" src="img/broker-logo-3.png" alt="#"/></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-4.jpg" alt="#"/></a>
            <div class="description"><a href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button red" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul>
              <hr class="sline"/><a href="#"><img class="logo" src="img/broker-logo-4.png" alt="#"/></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-5.jpg" alt="#"/></a>
            <div class="description"><a href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button red" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul>
              <hr class="sline"/><a href="#"><img class="logo" src="img/broker-logo-5.png" alt="#"/></a>
            </div>
          </div>
          <div class="broker"><a href="#"><img src="img/broker-6.jpg" alt="#"/></a>
            <div class="description"><a href="#">Muhammad Sajjad (Sajjad) Minhas</a>
              <ul class="rating" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <ul>
                <li><a class="button red" href="#">Toronto</a></li>
                <li><a class="button grey" href="#">Ontario</a></li>
              </ul>
              <hr class="sline"/><a href="#"><img class="logo" src="img/broker-logo-1.png" alt="#"/></a>
            </div>
          </div><a class="button red" href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <h2>Subscribe Now</h2>
            <div class="input">
              <input type="text" placeholder="Name"/>
            </div>
            <div class="input">
              <input type="text" placeholder="E-mail"/>
            </div>
            <div class="input">
              <input class="button red" type="submit" value="Apply Now"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Mortgage Tools</h2>
          <p>A second mortgage is a lien on a property which is subordinate to a more senior mortgage or loan. Called lien holders positioning, the second mortgage falls behind the first mortgage. This means second mortgages are riskier for lenders and thus generally come with a higher interest rate than first mortgages.</p>
          <ul>
            <li class="item"><a class="icon-land-tax" href="#">Land Transfer Tax<br/>Calculator</a></li>
            <li class="item"><a class="icon-mortgage-payment" href="#">Mortgage Payment<br/>Calculator</a></li>
            <li class="item"><a class="icon-mortgage-qualifier" href="#">CMHC Insurance<br/>Calculator</a></li>
            <li class="item"><a class="icon-mortgage-payment" href="#">Mortgage Affordability<br/>Calculator</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="lenders">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Lenders</h2>
          <div class="items mini-logo"><a class="logo" href="#"><img src="img/broker-logo-6.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-7.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-8.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-9.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-6.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-7.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-8.png" alt="#"/></a><a class="logo" href="#"><img src="img/broker-logo-9.png" alt="#"/></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Mortgage News</h2>
          <div class="items"><a class="item" href="#">
              <div class="img"><img src="img/news-1.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-2.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-3.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a><a class="item" href="#">
              <div class="img"><img src="img/news-4.jpg" alt="#"/></div>
              <div class="description">
                <h4>Cras sed felis eget velit aliquet sagittis...</h4>
                <ul>
                  <li>by<span>BestMortgageBrokers</span></li>
                  <li>18.12.19</li>
                </ul>
              </div></a></div><a class="button red" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <h2>Subscribe Now</h2>
            <div class="input">
              <input type="text" placeholder="Name"/>
            </div>
            <div class="input">
              <input type="text" placeholder="E-mail"/>
            </div>
            <div class="input">
              <input class="button red" type="submit" value="Apply Now"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
