
<section>
  <div class="services-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcrumbs"><span><a href="/"><span>Home</span></a></span><span>Services</span></div>
          <h1>Services</h1>
          <div class="nav">
            <ul>
              <li class="item"><a class="icon-commercial-mortgages" href="#"> Commercial<br/>Mortgages</a></li>
              <li class="item"><a class="icon-second-mortgage" href="#">Second<br/>Mortgage</a></li>
              <li class="item"><a class="icon-debt-consolidation" href="#">Debt<br/>Consolidation</a></li>
              <li class="item"><a class="icon-heloc" href="#">Home Equity<br/>Loans (HELOC)</a></li>
              <li class="item"><a class="icon-home-mortgage" href="#">Home Purchase<br/>Mortgage</a></li>
              <li class="item"><a class="icon-mortgage-self-employed" href="#">Mortgage for Self<br/>employed</a></li>
              <li class="item"><a class="icon-home-buyer-mortgage" href="#">First Time Home Buyer<br/>Mortgage</a></li>
              <li class="item"><a class="icon-mortgage-refinancing" href="#">Mortgage<br/>Refinancing</a></li>
              <li class="item"><a class="icon-mortgage-renewal" href="#">Mortgage<br/>Renewal</a></li>
              <li class="item"><a class="icon-private-mortgages" href="#">Private<br/>Mortgages</a></li>
              <li class="item"><a class="icon-construction-financing" href="#">Construction<br/>Financing</a></li>
              <li class="item"><a class="icon-reverse-mortgage" href="#">Reverse<br/>Mortgage</a></li>
              <li class="item"><a class="icon-mortgage-porting" href="#">Mortgage<br/>Porting</a></li>
              <li class="item"><a class="icon-blender-mortgage" href="#">B-Lender<br/>Mortgage</a></li>
              <li class="item"><a class="icon-equity-takeout" href="#">Equity<br/>Takeout</a></li>
              <li class="item"><a class="icon-residential-mortgage" href="#">Residential<br/>Mortgage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
